.header-background{
    background-color: #FFFBF0;
}


.uppercase-color-1{
    color: #FABE4C;
}
.uppercase-color-2{
    color: #3d3d3d;
}
.font-sizing{
    font-size: 3.5rem;
}
.price-color{
    color: #FABE4C;
}
.card-image-background-color{
    background-color: #F1F1F1;
}
.button-color{
    background-color: #A4BC46 !important;
}